:root{ /* asi se crean los recursos */
    --blancoFondo: #ffffff;
    --negroLetras: #343778;
    --cremaLetrasCabecera:  #ffa646;
    --cafeBotones: #264c2c;
    --cafeFuerte: #9db5cd;
    --verde: #33a9ac;
 }
 
 html{
    font-size: 62.5%;
    box-sizing: border-box; /*esto es para que si quiero que algum elemento mida por ejemplo 450px
    y le pongo un padding de 20px ya no afecte al tamaño que le indique al incio sumando 40px de cada lado
    si no que se mantendran los 450px*/
 }
 *, *:before, *:after{ /* *significa que seleccionara todos los elementos del html
    */
   box-sizing: inherit;
 }
h1{
   font-size:  3.8rem;
}
h2{
   font-size:  2.8rem;
}
h3{
   font-size:  1.8rem;
}
h1, h2, h3{
   text-align: center;
}
 body{
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Titillium Web', sans-serif;  /* fuente que se usara de el link que se indica en el html*/
 }

  .titulo span{
     font-size: 2rem;
     color: var(--cremaLetrasCabecera);/* asi mando a llamar las variables de los recursos */
 }
 
 .contenedor{
    max-width: 120rem;
    /*
    Puede ser asi
    margin-top: 0; margen de arriba a abajo 
    margin-right: auto; margin de la derecha al centro 
    margin-bottom: 0;margen de arriba hacia abajo 
    margin-left: auto; margen de la izquierda hacia el centro
    
    o asi
    margin: 0 auto 0 auto;
 
    pero si dos valores se presentan 2 veces igual como arriba se pueden poner solo dos veces el 
    valor y css lo tomara como los 4 valores que le indico
    */
    margin: 0 auto;
 }
 .boton{
   background-color: var(--cremaLetrasCabecera);
   color: var(--negroLetras);
   padding: 1rem 3rem;
   margin-top: 1rem;
   font-size: 2rem;
   text-decoration: none;
   font-weight: bold; /*para hacerla en negritas */
   border-radius: 5px;
   width: 60%;
   text-align: center;

 }
 @media (min-widht: 480px){
     .boton{
      width: auto;
     }
 }
 
 .nav-bg{
    background-color: var(--cremaLetrasCabecera);
 }
 
 .navPrincipal{
    display: flex; /* la propiedad flexbox solo se debe de usar en los elemntos padre */
    flex-direction: column;
    align-items: center;
}
 @media (min-width: 780px){
     .navPrincipal{
        flex-direction: row; /*display flex alinea de izquiera a derecha y row lo hcae en forma de bloques */
        justify-content: space-between;/* la propiedad justify-content permite mover el contenido horizontalmente
    puede ser "center" pa centrarlo, "start" para ponerlo de lado izquerdo, "flex-end" para lado derecho, y para distribuir
    los elementos hay "space-between", "space-around" y "space-evenly" */
    
     }
 }

 .navPrincipal a{
    color: var(--negroLetras);
    text-decoration: none; /* es para quitar la linea que se pone debajo de los enlaces */
    font-size: 2rem;
    font-weight: 700; /* esta propiedad es para volver negrita la letra */
 }
 
 .navPrincipal a:hover{
    background-color: var(--verde);
    color: var(--blancoFondo);
    /*padding: 1rem; padding es el espacio que hay por dentro del elemento, tiene atributos como el margin (top, left, right, bottom) */
 }

.hero{
    background-image: url(../img/hero.jpg); /*esto es para ponerle fondo de imagen a el diseño*/
    background-repeat: no-repeat;/*para que no se repita la imagen y se ponga un asola vez*/
    background-size: cover;/*para que agarre todo el ancho disponible en el diseño*/
    height: 450px;
    position: relative; /* la posicion de la clase padre debe ir en relativa para que la clase hija
    se pueda almacenar de forma absoluta */
}
.contenido-hero{
   position: absolute;
   background-color: rgb(0 0 0 / 50%);
   width: 100%;
   height: 100%;

   /*Codigo base para centrar elementos en cualquier proyecto */
   display: flex; /*alineo horizontalmente de izquierda a derecha */
   flex-direction: column;/*alineo en colunma de arriba hacia abajo */
   align-items: center;/*centro los elementos de la clase (alineo verticalmente) */
   justify-content: center;/* centro los elementos de la clase (alineo horizontalmente)*/
}

.contenido-hero h2,
.contenido-hero p{
   color: var(--blancoFondo);
}
.ubicacion{
   display: flex;
   justify-content: center;

}